<div class="card shadow mb-4">
    <div class="card-header">
        <strong>Network Status</strong>
    </div>
    <div class="card-body">
      <center>
     <!--Paste HetrixTools Page Script Here-->
     <script>
      </center>
    </div>
</div>